html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
}

p {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0;
}

h3 {
  font-weight: 400;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

ul {
  list-style: none;
}

a {
  color: var(--text);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mb_2 {
  margin-bottom: 2rem !important;
}

.mb_5 {
  margin-bottom: 5rem !important;
}

.mx_1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my_1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.grid-container {
  display: grid;
  grid: "menu header" 7.7rem "menu img" auto "contact h1" auto "avis coco" auto "discord coco" auto "contact_02 coco" "footer coco" auto/20rem auto;
}
.grid-container header {
  height: 7.7rem;
  grid-area: header;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(to right, var(--orange_01), var(--orange_02));
  font-family: var(--font-title);
}
.grid-container header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid-container header div h2 {
  letter-spacing: 1rem;
  margin-left: 2rem;
  font-weight: 300;
  font-size: 4rem;
  color: white;
}
.grid-container header div span {
  margin-right: 1rem;
}
.grid-container header div span button {
  margin: 0 0.5rem;
  height: 3rem;
  width: 11rem;
  border: none;
  border-radius: 12%;
  background: none;
  font-size: 2rem;
}
.grid-container header div span button:hover {
  text-decoration: underline;
  background: none;
}
.grid-container header div span button a:hover {
  transition: all 0.2;
  font-size: 2.2rem;
}
.grid-container .menu,
.grid-container .contact,
.grid-container .avis,
.grid-container .contact_02,
.grid-container footer {
  /*   background: linear-gradient(to right, #011725, #38b9fe, #011725); */
  background: linear-gradient(to right, var(--orange_01), var(--orange_02), var(--orange_01));
}
.grid-container .menu {
  grid-area: menu;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: var(--background); */
  text-align: center;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid #011725;
}
.grid-container .menu .a_01 {
  padding: 3.2rem 0;
  width: 20rem;
  height: 7.7rem;
}
.grid-container .menu .a_01:hover {
  color: white;
  padding: 2.5rem 0;
  transition: all 0.2s;
  font-size: 2rem;
  background: var(--orange_01);
}
.grid-container .a_02 {
  padding: 1.9rem;
  width: 20rem;
  height: 7.7rem;
}
.grid-container .a_02:hover {
  color: white;
  padding: 1.8rem 0;
  transition: all 0.2s;
  font-size: 2rem;
  background: var(--orange_01);
}
.grid-container .img {
  grid-area: img;
  height: 46.3rem;
  background: url(../img/img_02.jpg) center;
  background-size: cover;
}
.grid-container .contact {
  grid-area: contact;
  border-bottom: 1px solid #011725;
  display: flex;
  flex-direction: column;
  /* background: var(--background); */
}
.grid-container .contact h3 {
  text-align: center;
  margin-top: 2rem;
}
.grid-container .contact ul {
  margin: 0.5rem 1rem;
  height: 4rem;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.6rem;
  padding: 2rem 0.8rem;
}
.grid-container .contact ul:hover {
  background: white;
  font-size: 1.8rem;
  transition: all 0.2;
  border-radius: 0.5rem;
}
.grid-container .contact ul:hover li {
  color: var(--orange_01);
}
.grid-container .contact ul a {
  margin-left: 0.5rem;
}
.grid-container .avis {
  /* background: var(--background); */
  grid-area: avis;
  text-align: center;
  border-bottom: 1px solid #011725;
}
.grid-container .avis ::placeholder {
  color: #011725;
}
.grid-container .avis input {
  background: none;
  margin-bottom: 2rem;
  border: 0;
  border-bottom: 1px solid #333;
  outline: 0;
}
.grid-container .avis input:hover {
  font-size: 1.6rem;
}
.grid-container .avis button {
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
  height: 2rem;
  width: 8rem;
  color: #333;
  border: 0;
  background: none;
  border-radius: 5rem;
  cursor: pointer;
  margin-bottom: 2rem;
}
.grid-container .avis button:hover {
  background: var(--orange_01);
  color: white;
}
.grid-container .contact_02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10rem;
  grid-area: contact_02;
  /* background: var(--background); */
}
.grid-container .contact_02 h3 {
  margin: 5rem 0 0.5rem 0;
  text-align: center;
  margin-top: 0;
  font-weight: 400;
}
.grid-container .contact_02 div {
  text-align: center;
}
.grid-container .contact_02 div p {
  margin: 0.5rem 0 0.5rem 0;
}
.grid-container .contact_02 div .p_01 {
  text-decoration: underline;
  cursor: pointer;
}
.grid-container .contact_02 div .p_01:hover {
  font-size: 1.8rem;
  color: #011725;
}
.grid-container .h1 {
  grid-area: h1;
  height: 10rem;
  background: linear-gradient(to right, #011725, #38b9fe, #011725);
  color: white;
  display: flex;
  align-items: center;
  letter-spacing: 0.5rem;
  font-family: var(--font-title);
}
.grid-container .h1 h1 {
  margin-left: 79.5rem;
  font-size: 5rem;
}
.grid-container .h1 h1 span {
  font-size: 6.5rem;
}
.grid-container footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  grid-area: footer;
  height: 11.3rem;
  /*     background: linear-gradient(to right, var(--orange_01), var(--orange_02)); */
  color: #011725;
}

/*# sourceMappingURL=style.css.map */
