:root {
  // font-family
  --font-family: "Montseerrat", sans-serif;
  --font-title: "Raleway", sans-serif;
  //  Color
  --hint_01: #686de0;
  --hint_02: ;
  --orange_01: #f99e1a;
  --orange_02: #fde765;
  --orange_03: #fba223;
  --text: #333;
  --border: #ddd;
  --background: #fafafa;
}
